# Project (by Statix / Statsly)
PROJECT_NAME=StackLift

# Ports
FRONTEND_PORT=3000
BACKEND_PORT=3001
POSTGRES_PORT=5432
REDIS_PORT=6379
PGADMIN_PORT=5050
REDISINSIGHT_PORT=5540

# PostgreSQL credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stacklift

# pgAdmin login
PGADMIN_EMAIL=admin@stacklift.dev
PGADMIN_PASSWORD=admin
